body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #E9EBEE;
}


.navbar{
    background: #4267b2;
    position: relative;
    width: 100%;
    height: 42px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.background-image{
    background-image: url("../images/facebook_initial.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    width: 100%;
    height: 300px;
}

.col-12{
    margin-bottom: 25px;
    padding: 0;
}

.col-12>div{
    margin: 0 15px;
    background-color: #ffffff;
}

.col-12 h2{
    display: inline;
    padding: 0 20px;
}

.col-12 .btn-sm{
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.col-lg-5{
    display: flex;
    flex-direction: column;
    float: left;
    position: sticky;
    top: 0;
}

.createPost hr{
    width: 95%;
}

.createPost form button {
    float: right;
    margin: 8px 15px;
}

#fade_caption {
    color: #d41152;
    font-size: 0.75rem;
    margin:  5px 25px;
}

.col-lg-7{
    display: flex;
    flex-direction: column;
    float: right;
}

.col-lg-7 h6{
    margin: 0.5rem 0rem;
    padding-left: 5px;
}

textarea{
    border: none;
    width: 100%;
    height: 90px;
    padding-left: 15px;
}

textarea::placeholder{
    color: gray;
}

textarea:focus{
    border: none;
    width: 100%;
    height: 90px;
    outline: none;
    size: 
}

.title{
    padding: 15px 15px;
}

.intro h3, .friends h3, .createPost h3{
    display: inline;
    font-size: 1.2rem
}

.bio, .perInfo, .instruct{
    text-align: center;
    padding: 18px 0px;
}

.bio p, .perInfo p, .instruct p{
    font-size: 0.8rem;
    font-weight: 200;
}

.bio i, .perInfo i{
    margin: 8px 0px;
}

.bio i{
    font-size: 1.8rem;

}

.intro hr{
    width: 90%;
}

.bio a, .perInfo a{
    color: black;
}


.fa-globe-americas{
    background: #4267B2;
    color: #ffffff;
    padding: 6px;
    border-radius: 50%;
}

.fa-pen{
    background: #000000;
    color: #ffffff;
    padding: 6px;
    border-radius: 50%;
}

.fa-user{
    background: #d41152;
    color: #ffffff;
    padding: 6px;
    border-radius: 50%;
}

.navbar-brand:hover{
    color: #ffffff;
}

.fa-facebook-square, a {
    color: #ffffff;
    text-transform: capitalize;
}

.fa-facebook-square {
    font-size: 1.75rem;
    vertical-align: center;
    padding: 0px 10px;
    margin-inline-end: 6px;
}

.navbar-nav{
    padding-left: 50px;
}

form button{
    background: none;
    border: none;
}

.dropdown{
    display: inline;
}

.nav-item .dropdown{
    position: relative;
    top: 0;
}

div.profile-menu{
    font-size: 0.8rem;
    border-radius: 0;
    position: relative;
    top: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-item{
    padding: .25rem 0rem;
}

.dropdown-item:hover{
    background: #4267B2;
    color: #FBFBFD;
}

.show a{
    color: black;
}

.fa-search{
    color: #ffffff;
}

input[type="search"]{
    height: 23px;
    width: 300px;
    border-radius: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
    background: transparent;
    color: #ffffff;
}

input[type="search"]:focus{
    height: 23px;
    border-radius: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
    background: transparent;
    outline: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="search"]::placeholder{
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255,255,255);
}

.dropdown-menu .dropdown-item{
    text-align: center;
}

.box.intro, .box.friends, .box.post{
    background: white;
    border-radius: 3px;
    margin-bottom: 15px;
}

.form-inline button{
    margin: 0.5rem 0;
    padding: .375rem .75rem;
    float: clear;
    position: relative;
    right: 15px;
}

.navbar-nav .nav-item a{
    float: right;
    margin: 0.5rem 0;
    padding: .375rem .75rem;
}

.nav-item .nav-link:hover {
    background: #3B5999;
    border-radius: 10px;
    color: white;   
}

.modal-body h6{
    text-decoration: underline;
}

.modal-body .fas{
    margin: 0 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn-outline-primary label {
    margin-bottom: 0rem;
}

#bio-value{
    margin: auto;
    width: 350px;
}

.bio input[type="submit"], #bio-value{
    display: block;
    margin: auto;
}

#bio{
    display: none;
}

.modal-input{
    border: none;
    outline: none;
    display: block;
    margin: 18px auto;
    width: 300px;
    text-align: center;
}

.modal-input::placeholder {
    text-align: center;
}

.modal-input:focus{
    border-bottom: 1px solid black;
    text-align: center;
}

.modal-body input[type="submit"]{
    display: block;
    margin: 18px auto;

}

.box .event{
    width: 500px;
    margin: 10px auto;
    border-radius: 5px;
}

.event .post{
    margin-bottom: 15px;
    background: #ffffff;
        border-radius: 3px;
    margin-bottom: 15px;
}

.thing{
    width: 450px;
    margin: auto;
}


@media (max-width: 992px){
    li.nav-item.active, li.nav-item.dropbdown{
        position: relative;
        top: 6px;
    }

    .dropdown-menu{
        top: 70%;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .navbar-dark .navbar-toggler, .navbar-brand{
        position: relative;
        bottom: 5px;
        padding: 0.1rem 0.1rem;
        border-color:transparent;
        color: rgba(255,255,255,1);
        outline: none;
    }

    div#navbarSupportedContent.show{
        background: #4267B2;
        z-index: 1;
        position: relative;
        bottom: 6px;
        width: 100%;
    }

    input.form-control.mr-sm-2{
        border-bottom: 1px solid white;
    }

    li.nav-item{
        display: block;
        margin: auto;
    }

    .dropdown-menu{
        min-width: 0rem;
        background-color: transparent;
        background-clip: none;
        border: none;
    }
}

